html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #317773;
  height: 150px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

header button {
  background-color: #3f47f4;
  border: 1px solid #fff;
  height: fit-content;
  color: #fff;
  font-size: 1.1rem;
  padding: 5px 10px;
}

header button svg {
  margin-left: 10px;
}

.container--main {
  display: flex;
  min-height: calc(100vh - 150px);
}

aside {
  background-color: #fff;
  width: 250px;
  position: relative;
  bottom: 80px;
  border-top-right-radius: 20px;
  color: #7f7e86;
  padding: 30px 0 0 30px;
}
aside p {
  color: #494a52;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

aside li {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

aside li a {
  margin-left: 10px;
}

li {
  list-style: none;
}

section {
  background-color: #f4f5fa;
  flex-grow: 1;
  padding: 10px;
  /* width: 100%; */
}

h2 {
  color: #494a52;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

h2 svg {
  margin-right: 10px;
}

.add-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.add-form__input {
  margin-top: 20px;
}

.add-form__input--first {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

label {
  color: #7f7e86;
  font-size: 1.3rem;
}

input {
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  background-color: #f6f0fea6 !important;
  color: #7f7e86;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 5px 15px;
  height: 35px;
  outline: none;
  max-width: 500px;
}

.add-form__input--second {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: fit-content;
}

.add-form__input--second div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
  margin: 10px 0;
}

.add-form__input--second input {
  box-shadow: none;
  margin-left: 10px;
  width: 18px;
}

.add-form__input--second label {
  color: white;
  display: flex;
  align-items: center;
}

.add-form__input--second label svg {
  margin-right: 10px;
}

.add-form__input--second .todo {
  background-color: #f2b82e;
}

.add-form__input--second .inProgress {
  background-color: #1be2b1;
}

.add-form__input--second .review {
  background-color: #3f79f7;
}

.add-form__input--second .done {
  background-color: #14d3e2;
}

button {
  border: none;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  color: #727272;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.profile-form {
  padding: 20px;
}

.profile-form__input {
  margin-top: 20px;
}

.profile-form__input div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-data {
  margin-top: 20px;
}

.profile-data div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-data span {
  color: #7f7e86;
  font-size: 1rem;
  margin-right: 5px;
}

.profile-data p {
  font-size: 1.2rem;
  color: #494a52;
  font-weight: 500;
}

.home-page {
  display: flex;
  justify-content: space-between;
}

.home-page div {
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  flex-grow: 1;
}

.home-page p {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.home-page--todo p {
  background-color: #f2b82e;
}

.home-page--inProgress p {
  background-color: #1be2b1;
}

.home-page--review p {
  background-color: #3f79f7;
}

.home-page--done p {
  background-color: #14d3e2;
}

.home-page .tasks {
  margin: 0;
}

.tasks .tasks__card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px;
  margin: 25px 15px;
}

.tasks .tasks__card span {
  width: 50%;
  height: 3px;
  display: block;
  margin-bottom: 30px;
  border-radius: 2px;
}

.tasks .tasks__card span.todo {
  background-color: #f2b82e;
}
.tasks .tasks__card span.inProgress {
  background-color: #1be2b1;
}
.tasks .tasks__card span.review {
  background-color: #3f79f7;
}
.tasks .tasks__card span.done {
  background-color: #14d3e2;
}

.tasks .tasks__card h4 {
  color: #494a52;
  font-size: 1.1rem;
  font-weight: 400;
}

.tasks .tasks__card div {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin: 25px 0 0 0;
}

.tasks .tasks__card div button {
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.tasks .tasks__card div .button-next {
  background-color: #cdf8ee;
  color: #03ab81;
}

.tasks .tasks__card div .button-back {
  background-color: #f8eccf;
  color: #e5a000;
}

.signin-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  border-radius: 20px;
}

.signin-form h3 {
  color: #494a52;
  margin-bottom: 50px;
}

.signin-form input {
  margin-bottom: 30px;
}

.signin-form div {
  margin-top: 50px;
  display: flex;
  color: #7f7e86;
}

.signin-form a {
  color: #3f47f4;
}

/*--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

/* body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
} */

.h1form{
	font-weight: bold;
	margin: 0;
}

.p-form{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
  color: #878787;
}

.a-form {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button.signform{
	border-radius: 20px;
	background-color: #317773;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
  margin-top: 15px;
}

button.signform:active {
	transform: scale(0.95);
}

button.signform:focus {
	outline: none;
}

button.signform.ghost {
	background-color: #3177739e;
  border-color: #3177739e !important;
}

.form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.input-form {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 540px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #E2D1F9;
	background: -webkit-linear-gradient(to right, #E2D1F9, #E2D1F9);
	background: linear-gradient(to right, #E2D1F9, #E2D1F9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #333;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
/*-----------*/
.form-margin{
  margin: 3rem 0rem 0rem 10rem;
  font-family: 'Montserrat', sans-serif;
}


